*{
    font-family: 'Inter', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    padding: 100px 60px 60px 60px;
}

.container{
    border: 3px solid rgba(200, 91, 91, 0.827);
    border-radius: 20px;
    padding: 20px;

}

.todo_app{
    border-radius: 20px;
    padding: 1px 60px 60px 60px;
    background: rgba(200, 91, 91, 0.827);
}

h2{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

ul{
    list-style: none;
    padding: 0;
}

li {
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid;
    padding: 10px;
    margin-bottom: 10px;
    background: rgba(255, 166, 166, 0.628);
}

input[type=checkbox]{
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: 1px solid;
    cursor: pointer;
}

input[type=checkbox]:checked{
    background-color: palevioletred;
}

